@tailwind base;
@tailwind components;
@tailwind utilities;

.calendar-custom {
  @apply bg-cus-white text-black  rounded p-4;
}
/* 
.calendar-custom .react-calendar__tile {
  @apply text-black bg-cus-white rounded hover:bg-blue-500 hover:text-white;
}

.calendar-custom .react-calendar__tile--now {
  @apply bg-blue-400 text-white;
}

.calendar-custom .react-calendar__tile--active {
  @apply bg-orange-500 text-white font-bold;
}


.calendar-custom .react-calendar__navigation button:disabled {
  @apply text-gray-400;
}

.calendar-custom .react-calendar__month-view__weekdays {
  @apply text-gray-300;
} */
.calendar-custom .react-calendar__navigation button {
  @apply text-white bg-custom-dark hover:bg-blue-500;
}

@keyframes text-reveal {
  to {
    --split-position: 100%;
  }
}

@property --split-position {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

.scroll-wrapper {
  min-height: 300vh;
  /* Some extra room to scroll the text out of view again. */
  margin-bottom: 100vh;
  view-timeline-name: --reveal-wrapper;
  padding: 24px;
}

.fancy-text {
  --split-position: 0%;
  animation: text-reveal 1s ease-in-out;
  background-image: linear-gradient(
    to right,
    #fff,
    #fff var(--split-position),
    #012030 var(--split-position),
    #012030
  );
  background-clip: text;
  color: transparent;
  display: inline;
  position: sticky;
  top: 250px;
  font-size: 25px;

  animation: text-reveal linear both;
  animation-timeline: --reveal-wrapper;
  animation-range: entry 100% cover 80%;
}
